.face {
  background-color: #fcba03;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.mouth {
  background-color: #950707;
  height: 75px;
  width: 200px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 275px;
  left: 105px;
}
.mouth:hover {
  border-radius: 0 0 50px 50px;
}
.eyeleft {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 85px;
}
.eyeright {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 225px;
}
